@inherits Irma.Base.RestaurantMenuBase

<div>
    @if (menuDishes == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <input @onchange="HandleFilterChange" />
        <DishList dishes="menuDishes" />
    }
</div>
